body {
    font-family: 'Arial', sans-serif;
    color: rgba(0, 0, 0, 0.533)
    margin: 0;
    padding: 0;
}

header {
    background-color: #0077cc;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

section {
    padding: 20px;
}

footer {
    background-color: #3c0bb0;
    text-align: center;
    padding: 10px;
}